{% extends 'urlexpander/base.html' %}

{% block content %}
	<section class="details container">
		<div class="back">
			<p><a href="{% url 'url_list' %}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</a></p>
		</div>
		<div class="detail">
			<h2>Searched URL: {{url.url}}</h2>
			<h3>Details: </h3>
			<p>Destination URL: 
			{% if url.final_url == "Does not exist" %}
				{{url.final_url}}</p>
			{% else %}
				<a href="{{url.final_url}}">{{url.final_url}}</a></p>
			{% endif %}
			<p>Webpage Title: {{url.title}}</p>
			<p>Webpage Status: {{url.status}}</p>
			<p>Request Date: {{url.date}}</p>
			<p>Wayback Response: 
				{% if url.wayback == "Not available" %}
					{{url.wayback}}</p>
				{% else %}
					<a href="{{url.wayback}}">{{url.wayback}}</a></p>
				{% endif %}
			<p>Wayback Date: {{url.wayback_date}}</p>			
		</div>
		<div class="delete-btn">
			<a class="btn btn-danger" href="../../delete/{{url.pk}}">Delete</a>
		</div>
	</section>
{% endblock content %}
